VECTOR_DB="pgvector"
VECTOR_DB_URI="postgresql+psycopg://<username>:<password>@<host>:<port>/<dbname>"
POSTGRES_SESSION_URI="postgresql://<username>:<password>@<host>:<port>/<dbname>"
COLLECTION_NAME="<collection_name>"
GOOGLE_API_KEY=
GOOGLE_MODEL=gemini-2.5-flash-lite
GOOGLE_EMBEDDING_MODEL=gemini-embedding-001